.env
node_modules
dist

node_modules/
dist/
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.tailwindcache/
*.tmp
*.cache


.DS_Store
Thumbs.db


coverage/
jest-output/


.vscode/
.idea/


*.tsbuildinfo

